<section class="body-error error-inside">
	<div class="center-error">

		<div class="row">
			<div class="col-lg-12">
				<div class="main-error mb-3">
					<h2 class="error-code text-dark text-center font-weight-semibold m-0">Toegang geweigerd <i class="fas fa-ban"></i></h2>
					<p class="error-explanation text-center">Onze excuses, u heeft geen toegang tot de pagina die u probeert te bereiken.</p>
				</div>
			</div>
			
		</div>
	</div>
</section>