@model ForgotPasswordViewModel

@{
	ViewBag.Title = "Login";
}

<section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo float-start">
			<img src="~/img/logo.png" height="54" alt="CPM" />
		</a>

		<div class="panel card-sign">
			<div class="card-title-sign mt-3 text-end">
				<h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i>Paswoord resetten</h2>
			</div>
			<div class="card-body">
				<div class="alert alert-info">
					<p class="m-0">Vul hieronder uw email adres in en wij sturen u de instructies om uw paswoord te resetten!</p>
				</div>

					@using (Html.BeginForm("ForgotPassword" , "Account", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post , null,  new {@role = "form"}))
							{
							   @Html.AntiForgeryToken()
							   @Html.ValidationSummary(true, "", new { @class = "text-danger"})
					<div class="form-group mb-0">
						<div class="input-group">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = "1" })
							<button class="btn btn-primary btn-lg" type="submit">Resetten!</button>
						</div>
					</div>

					<p class="text-center mt-3">U herrinert uw paswoord? <a href="pages-signin.html">Login In!</a></p>
							}
			</div>
		</div>

		<p class="text-center text-muted mt-3 mb-3">© Copyright 2025. All Rights Reserved.</p>
	</div>
</section>