<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- 🔁 HTTP → HTTPS redirect -->
      <rewrite>
        <rules>
          <rule name="httpTohttps" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action
              type="Redirect"
              url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CPMCore.dll" stdoutLogEnabled="false" hostingModel="OutOfProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: B6C0D9B2-9D93-470D-A27E-4D9492A3A3E1-->